@font-face {
  font-family: CeraPro-Medium;
  src: url(../fonts/CeraPro-Medium.ttf);
}
@font-face {
  font-family: CeraPro-Light;
  src: url(../fonts/CeraPro-Light.ttf);
}
@font-face {
  font-family: CeraPro-Regular;
  src: url(../fonts/CeraPro-Regular.ttf);
}

/* DEFAULT CSS */

html, body {
  font-family: CeraPro-Medium;
  margin: 0;
  color: #1c2120;
  background-color: #07732D;
}

.container {
  padding: 4%;
}

.regular-font {
  font-family: CeraPro-Regular;
}

.light-font {
  font-family: CeraPro-Light;
}

a {
  color: #FFD7F4;
  text-decoration: none;
}

#home-info a {
  color:#1c2120;
}

#name {
  color: #FFD7F4;
}

.flex-container-space-between {
  font-size: 14px;
  min-height: 38.197%;
  line-height: 0.8;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.flex-container-division {
  display: flex;
}

.small-ratio {
  min-width: 38.197%;
  position: absolute;
}

.big-ratio {
  margin-left: 39%;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu p {
  font-size: 8vw;
  margin: 0;
}

#home-menu-selection-work{
  margin-top: 0;
}

#home-menu-selection-worktype {
  margin-top: 2vw;
  font-size: 6vw;
  width: 40vw;
}

#home-menu-selection-worktype a li{
  padding-bottom: 20px;
}

#graphic-design {
  line-height: 1.1;
}

#home-menu-selection-about {
  margin-top: 5vh;
}

#home-menu-selection-about-title {
  padding-top: 2vw;
}

#home-menu-selection-about-description {
  font-size: 2vw;
  margin-top: 2.8vw;
}

.footer {
  margin-top: 10vh;
}

.footer p {
  font-size: 10px;
}

/* PARTICULAR TO PROJECT LIST */

.project-list-element {
  min-height: 600px;
  /* background-color: blue; */
  padding: 0;
  flex-wrap: wrap;
}

.project-list-element a{
  width: 42vw;
  max-width: 50vh;
  padding-top: 10vh;
  /* filter: grayscale(100%) contrast(200%); */
}

.project-list-element-thumbnail {
  /* position: relative; */
  height: 40vw;
  max-height: 40vh;
  width: 100%;
  max-width: 40vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#projects-menu div{
  margin-right: 3vw;
  cursor: pointer;
  color: #FFD7F4;
}

#projects-menu p{
  font-size: 2.5vw;
}

.project-caption {
  color: #1c2120;
  font-size: 20px;
}

#test {
  background-image: url("../images/bag1_reduced.jpg");
}

#project-images img {
  max-width: 90vw;
  max-height: 90vh;
  /* margin-right: 10vw; */
  margin-bottom: 10vw;
}

.flex-container-space-between{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10vh;
}

#project-header p {
  font-size: 20px;
}

/* ADAPTATION TO DEVICE */

/* 4K and ultra-wide */
@media only screen and (max-width: 1904px) {
  /* html {
    background-color: #4f722d; 
  } */
}

/* Desktop */
@media only screen and (max-width: 1264px) {
  /* html {
    background-color: #07732D; 
  } */

}

/* Large tablet to laptop */
@media only screen and (max-width: 960px) {
  /* html {
    background-color: green; 
  } */

  .flex-container-space-between {
    padding-bottom: 10%;;
    margin-top: 1vh;
  }


  #home-menu-selection-worktype {
    margin-top: 2vw;
    font-size: 50px;
  }

  #home-menu-selection-worktype a li {
    /* padding-top: 10px; */
    margin-bottom: 50px;
    border-left: 2px solid #FFD7F4;
    padding-left: 10px;
    width: 45vw;
  }

  #home-menu-selection-about-description {
    font-size: 2vw;
    margin-top: 0.5vh;
  }

}

/* Small to large phone*/
@media only screen and (max-width: 600px){

  .flex-container-space-between {
    display: block;
    font-size: 14px;
  }

  #name {
    font-size: 20px;
  }

  .flex-container-division {
    display: block;
  }

  .small-ratio {
    position: relative;
    width: 100%;
    /* font-size: 30px; */
  }

  .big-ratio {
    position: relative;
    width: 100%;
    margin: 0;
    /* font-size: 40px; */
  }

  #home-menu-selection-worktype {
    font-size: 40px;
    margin-left: -20px; 
  }

  #home-menu-selection-worktype a li {
    padding: 20px 0 20px 20px;
    margin: 0;
    border-left: none;
    width: 110vw;
  }

  ul a li{
    border-top: 2px solid #FFD7F4;
    /* font-size: larger; */
    /* line-height: 2.5; */
  }

  #projects-menu {
    padding: 1vw;
    margin-bottom: 10vw;
  }

  #projects-menu div {
    background-color: #FFD7F4;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 0.5vw;
    border: 2px solid #FFD7F4;
    color: #1c2120;
    margin-right: 0;
  }

  #projects-menu div p {
    font-size: larger;
    line-height: 1.5;
    text-align: center;
  }

  #art-education {
    border-bottom: 2px solid #FFD7F4;
  }

  #work-title {
    line-height: 2.5;
  }

  #home-menu-selection-about-description {
    font-size: large;
    line-height: 1.6;
  }
  
  .project-list-element-thumbnail {
    height: 100vh;
    max-width: none;
  }

  .project-caption {
   margin-bottom: 15vw;
  }


}
